@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto;
  color: var(--clr1);
}

html {
  font-size: 12px;
}

:root {
  --clr1: #404040;
  --clr2: #072c5b;
  --clr3: #2eb3ff;
  --clr4: #efeb08;
  --clr5: #fff;
  --clr6: #bdbdbd;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  gap: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-divider {
  width: 100%;
  height: 5rem;
}

.btn {
  color: var(--clr5);
  background: var(--clr3);
  border-radius: 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: ease 0.3s;
}
.btn ion-icon {
  color: var(--clr5);
  font-size: 1.5rem;
}
.btn:hover {
  box-shadow: 0 0 10px var(--clr3);
  gap: 2rem;
}

/* section head */
.section-head {
  position: relative;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}
.section-head .section-heading {
  color: var(--clr1);
  font-size: 3.42857rem;
  font-weight: 700;
  line-height: 4.57143rem;
  text-transform: uppercase;
}
.section-head .section-summary {
  color: var(--clr1);
  font-size: 1.07143rem;
  font-weight: 400;
  line-height: 1.75rem;
}
.section-head .section-number {
  width: 100%;
  position: absolute;
  left: 0;
  top: 1.5rem;
  color: rgba(0, 0, 0, 0.05);
  font-size: 12.85714rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.71429rem;
}

/* hero section */
#hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* header */
#hero .header {
  width: 100%;
  position: absolute;
  z-index: 10;
}
#hero .header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hero .header .logo-container {
  width: 15rem;
}
#hero .header .logo {
  width: 100%;
}
#hero .header .nav {
  display: flex;
  gap: 2rem;
  font-size: 1em;
}
#hero .header .nav-item {
  color: var(--clr5);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  border-top: solid transparent 1px;
  border-bottom: solid transparent 1px;
  padding: 0.5rem;
  transition: ease 0.3s;
}
#hero .header .nav-item:hover {
  border-color: var(--clr5);
}

/* slider */
#hero .slide {
  display: none;
}

#hero .slide-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(0.5);
}

#hero .slide-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
}
#hero .slide-title {
  width: 100%;
  max-width: 66.07143rem;
  color: var(--clr5);
  font-size: 2.85714rem;
  font-weight: 700;
  line-height: 3.67857rem;
  text-transform: uppercase;
}
#hero .btn {
  margin-top: 3rem;
}

#hero .slide-number-container {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: 5;
}
#hero .slide-number-container .container {
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  gap: 1rem;
  align-items: center;
  letter-spacing: 0.5rem;
}
#hero .slide-number-container hr {
  width: 3rem;
  transform: rotate(130deg);
  border-color: var(--clr5);
}
#hero .slider-number {
  color: var(--clr5);
}

#hero .slider-nav {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  left: 0;
  z-index: 5;
}
#hero .slider-nav .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}
#hero .slider-nav-btn {
  cursor: pointer;
  background-color: var(--clr1);
  font-size: 1.5rem;
  padding: 1rem;
  border: solid 0.1rem var(--clr5);
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease 0.3s;
}
#hero .slider-nav-btn ion-icon {
  color: var(--clr5);
}
#hero .slider-nav-btn:hover {
  background-color: var(--clr5);
}
#hero .slider-nav-btn:hover ion-icon {
  color: var(--clr1);
}

#hero .dot-container {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  z-index: 3;
  width: 100%;
}
#hero .dot-container .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
#hero .dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  background-color: var(--clr1);
  border-radius: 50%;
  display: inline-block;
  transition: ease 0.3s;
}
#hero .active,
#hero .dot:hover {
  background-color: var(--clr5);
}

/* fade animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/* about us section */
#about .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#about .para {
  color: var(--clr1);
  text-align: justify;
  font-size: 1.57143rem;
  font-weight: 400;
  line-height: 3.07143rem;
}
#about .card {
  border-radius: 2rem;
  padding: 3rem;
}
#about .card-head {
  align-items: center;
  justify-content: space-between;
}
#about .card:nth-child(1) {
  background: url(/media/company-bg.png), lightgray 50% / cover no-repeat;
}
#about .card:nth-child(2) {
  background: url(/media/founder-bg.png), lightgray 50% / cover no-repeat;
}
#about .card:nth-child(1) .card-icon {
  width: 3.42857rem;
  height: 3.42857rem;
}
#about .card:nth-child(1) .card-icon {
  width: 4.92857rem;
  height: 4.92857rem;
}
#about .card-heading {
  color: #747474;
  text-align: right;
  font-size: 2.85714rem;
  font-weight: 500;
  line-height: 3.07143rem;
  text-transform: uppercase;
}
